*{
    margin: 0;
   padding: 0;
} 
h3{
    padding: 15% 0% 0% 30%;
}
h4{
    padding: 0% 0% 0% 30%;
}
body{
    background-image: url("/pictures/pic.jpg");
    background-size: border-box;
    background-attachment: fixed;
}
